
  <div class="page-heading d-sm-flex justify-content-sm-between align-items-sm-center">
    <h2 class="title mb-3 mb-sm-0">Bank Master</h2>
    <nav class="mb-0 breadcrumb">
      <span class="active breadcrumb-item">Bank Master</span>
        <span class="active breadcrumb-item">Create</span>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="gx-card">
        <div class="gx-card-body">
          <form class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-gutters p-0" [formGroup]="bankForm" (ngSubmit)="createNewBank()" novalidate>
            <div class="form-group col-sm-3 px-2 pl-0">
              <label for="compName">Bank Name</label>
              <input type="text" class="form-control"  placeholder="Enter Bank Name" formControlName="bankName" [ngClass]="{ 'is-invalid': submitted && fc.bankName.errors }">
              <div *ngIf="submitted && fc.bankName.errors" class="invalid-feedback">
                <div *ngIf="fc.bankName.errors.required">Bank Name Required.</div>
              </div>
            </div>
          <div class="form-group col-sm-3 px-2">
            <label for="compEmail">Bank Code</label>
            <input type="email" class="form-control" placeholder="Enter Bank Code" formControlName="bankCode" [ngClass]="{ 'is-invalid': submitted && fc.bankCode.errors }">
            <div *ngIf="submitted && fc.bankCode.errors" class="invalid-feedback">
              <div *ngIf="fc.bankCode.errors.required">Bank Code Required.</div>
            </div>
          </div>
          <div class="form-group col-sm-3 px-2">
            <label for="bankCode">Bank Ext</label>
            <input type="text" class="form-control" placeholder="Enter Bank Ext" formControlName="bankExtNo" >
          </div>
          <!-- <div class="form-group col-sm-3 px-2">
            <label for="branch">Branch</label>
            <input type="text" class="form-control" placeholder="Enter Branch Name">
          </div>
          <div class="form-group col-sm-3 px-2">
            <label for="contPhone">Contact Phone</label>
            <input type="text" class="form-control" placeholder="Enter Contact Number">
          </div>
          <div class="form-group col-sm-3 px-2">
            <label for="mobilePhone">Moblei Phone</label>
            <input type="text" class="form-control" placeholder="Enter Mobile Number">
          </div>
          <div class="form-group col-sm-3 px-2">
            <label for="website">Website</label>
            <input type="text" class="form-control" placeholder="Enter Website">
          </div>
          <div class="form-group col-sm-3 px-2 pl-0">
            <label for="link">Country</label>
            <select class="custom-select">
              <option selected disabled>--Select Country--</option>
              <option>India</option>
              <option>Dubai</option>
            </select>
          </div>
          <div class="form-group col-sm-3 px-2 pl-0">
            <label for="link">State</label>
            <select class="custom-select">
              <option selected disabled>--Select State--</option>
              <option>State 1</option>
              <option>State 2</option>
            </select>
          </div>
          <div class="form-group col-sm-3 px-2 pl-0">
            <label for="link">City</label>
            <select class="custom-select">
              <option selected disabled>--Select City--</option>
              <option>City 1</option>
              <option>City 2</option>
            </select>
          </div>
          <div class="form-group col-sm-3 px-2">
            <label for="zipCode">Zip Code</label>
            <input type="number" class="form-control" placeholder="Enter Zip Code">
          </div>
          <div class="form-group col-sm-3 px-2">
            <label for="fax">Fax</label>
            <input type="text" class="form-control" placeholder="Enter Fax Number">
          </div>
          <div class="form-group col-sm-3 px-2">
            <label>TRN number</label>
            <input type="text" class="form-control" placeholder="Enter TRN Number">
          </div>
          <div class="form-group col-sm-9 px-2">
            <label>Address</label>
            <textarea class="form-control h-100" placeholder="Enter Complete Address"></textarea>
          </div> -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
              <div class="form-group col-sm-4">
                  <button type="submit" class="gx-btn btn-success gx-btn-sm mt-new mb-0 btn-top">Save</button>
                  <a routerLink="/list/bank" class="gx-btn btn-danger gx-btn-sm mt-new mb-0 btn-top">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>