<div class="gx-main-content p-0">
    <div class="gx-wrapper mar-0">
        <div class="dashboard animated slideInUpTiny animation-duration-3">
            <div class="page-heading d-sm-flex justify-content-sm-between align-items-sm-center"><h2
                    class="title mb-3 mb-sm-0">Sales Order</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <div class="gx-card mb-10px">
                    <div class="gx-card-body">
                        <form [formGroup]="searchForm" novalidate (ngSubmit)="search()">
                            <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-gutters p-0">
                                <div class="form-group col-sm-3 px-2">
                                    <label>Search by Order No.</label>
                                    <input formControlName="orderno" type="text" class="form-control" placeholder="Enter Order Number">
                                </div>
                                <div class="form-group col-sm-3 px-2">
                                    <label>Search by Customer Name</label>
                                    <input type="text" formControlName="customername" class="form-control" placeholder="Enter Customer Name">
                                </div>
                                <div class=" col-sm-3 px-2">
                                    <label>SEARCH BY STATUS</label>
                                    <select class="form-control" formControlName="status">
                                        <option selected disabled value="">--Select Status--</option>
                                        <option value="">All</option>
                                        <option value = "Saved">Saved</option>
                                        <option value = "Authorized">Authorized</option>
                                        <option value = "Pending_Approval_by_Manager">Pending Approval by Manager</option>
                                        <option value = "Pending_Approval_by_Director">Pending Approval by Director</option>
                                        <option value = "Unauthorized_by_Manager">Unauthorized by Manager</option>
                                        <option value = "Unauthorized_by_Director">Unauthorized by Director</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <button type="submit" class="gx-btn gx-btn-light-green gx-btn-sm mt-new mb-0 btn-top-24"><i class="zmdi zmdi-search"></i></button>
                                    <a (click)="clearSearch()" class="gx-btn btn-danger gx-btn-sm mt-new mb-0 btn-top-24">Reset</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            <div class="gx-card">
                <div class="gx-card-body">
                    <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-gutters p-0">
                        <div class="form-group col-sm-12 text-right">
                            <a *ngxPermissionsOnly="['sales-order-create']" routerLink="/sales/new/order" class="gx-btn btn-success gx-btn-sm mt-new mb-0">New</a>
                            <a *ngxPermissionsOnly="['sales-order-edit']" (click)="editOrder()" class="gx-btn gx-btn-light-green gx-btn-sm mt-new mb-0">Edit</a>
                            <a *ngxPermissionsOnly="['sales-order-canDelete']" (click)="delete()" class="gx-btn btn-danger gx-btn-sm mt-new mb-0">Delete</a>
                            <a *ngxPermissionsOnly="['sales-order-print']" (click)="printorder()" class="gx-btn gx-btn-light-blue gx-btn-sm mt-new mb-0 text-white">Print</a>
                            <a *ngxPermissionsOnly="['sales-order-ctdn']" (click)="createDeliveryNote()" class="gx-btn gx-btn-lime gx-btn-sm mt-new mb-0 text-white">Convert to DEN</a>
                            <a *ngxPermissionsOnly="['sales-order-cti']" (click)="createInvoice()" class="gx-btn gx-btn-lime gx-btn-sm text-white">Convert to Invoice</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 52px; text-align: center;">#</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 161px;">Date</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 261px;">Order No.</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 342px;">Service No.</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 248px;">Customer Name</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 248px;">Status</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 248px;">Stage</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 248px;">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeA odd" role="row" *ngFor="let sale of pageDto.data">
                                        <td class="sorting_1 text-center"><input name="checkbox" [checked]="sale.checked" (change)="toggeleItem($event,sale)"  class="m-table-checkbox form-check-input frm-checkbox" type="checkbox"></td>
                                        <td>{{sale.orderdate |date : 'dd-MM-yyyy'}}</td>
                                        <td>{{sale.orderno}}</td>
                                        <td>{{sale.serviceno}}</td>
                                        <td>{{sale.customerName}}</td>
                                        <td>{{sale.status}}</td>
                                        <td>{{sale.stage}}</td>
                                        <td>{{sale.netAmt | number:'1.0-2'}}</td>
                                    </tr>
                                   </tbody>
                            </table>
                        </div>
            </div>
            <div class="gx-card-footer">
                <nav aria-label="navigation">
                    <ul class="pagination">
                        <ngb-pagination [collectionSize]="pageDto.totalCount" [(page)]="salesOrderSpec.page" [(pageSize)]="salesOrderSpec.size"
                        [maxSize]="10" [boundaryLinks]="true" size="sm" (pageChange)="pageChange($event)"></ngb-pagination>
                    </ul>
                </nav>
            </div>
            </div>
        </div>
    </div>
  </div>