<div class="gx-wrapper mar-0">
  <div class="dashboard animated slideInUpTiny animation-duration-3">
    <div class="page-heading d-sm-flex justify-content-sm-between align-items-sm-center">
      <h2 class="title mb-3 mb-sm-0">Journal Voucher</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="gx-card">
      <div class="gx-card-body">
        <form [formGroup]="journalVoucherForm" (ngSubmit)="submit()" novalidate>
          <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-gutters p-0">
            <div class="form-group col-sm-3 px-2 pl-0">
              <label for="voucherNo">VOUCHER NO</label>
              <input type="text" formControlName="jvno" class="form-control" placeholder="Enter Voucher No" [ngClass]="{ 'is-invalid': submitted && f.jvno.errors }" readonly>
              <div *ngIf="submitted && f.jvno.errors" class="invalid-feedback">
                <div *ngIf="f.jvno.errors.required">Voucher No Required.</div>
              </div>
            </div>
            <div class="form-group col-sm-3 px-2">
              <label for="date">DATE</label>
              <div class="input-group">
                <input formControlName="jvdate" placeholder="DD-MM-YYYY" name="jvdate" id="jvdate" type="date"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jvdate.errors }" [readonly]="isReadOnly">
                <div class="input-group-append">
                </div>
                <div *ngIf="submitted && f.jvdate.errors" class="invalid-feedback">
                  <div *ngIf="f.jvdate.errors.required">Date is Required.</div>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-3 px-2">
              <label>Total Amount</label>
              <input type="number" [(ngModel)]="totalAmounts" value="{{totalAmounts | number:'1.0-2'}}" [ngModelOptions]="{standalone: true}"
                class="form-control" placeholder="Calculated Amount" readonly>
            </div>
            <div class="w-100"></div>
            <div class="form-group col-sm-1 px-2 pl-0">
              <label class="mb-3">Sr No.</label>
              <br>
              <span class="pl-2">
                <strong>1.</strong>
              </span>
            </div>
            <div class="form-group col-sm-3 px-2 pl-0">
              <label>Account Type</label>
              <select formControlName="faccounttype" class="custom-select" [ngClass]="{ 'is-invalid': submitted && f.faccounttype.errors }" disabled>
                <option selected disabled value="">--Select Account Type--</option>
                <option>Accounts</option>
                <option>Customer</option>
                <option>Vendor</option>
              </select>
              <div *ngIf="submitted && f.faccounttype.errors" class="invalid-feedback">
                <div *ngIf="f.faccounttype.errors.required">Account Type Required.</div>
              </div>
            </div>
            <div class="form-group col-sm-2 px-2 pl-0">
              <label>Account Name</label>
              <input type="text" formControlName="contactName" (selectItem)="selectedContact($event)" [ngbTypeahead]="searchContact"
                class="form-control" placeholder="Enter Account Name" [ngClass]="{ 'is-invalid': submitted && f.contactName.errors }"
                readonly>
                <div *ngIf="submitted && f.contactName.errors" class="invalid-feedback">
                  <div *ngIf="f.contactName.errors.required">Account Name Required.</div>
                </div>
              <input type="hidden" formControlName="fcontactId" class="form-control">
              <!-- <input type="hidden" formControlName="fbankId" class="form-control"> -->
            </div>
            <div class="form-group col-sm-2 px-2">
              <label>Amount</label>
              <input type="number" formControlName="famount" class="form-control" placeholder="Enter Amount">
            </div>
            <div class="form-group col-sm-2 px-2 pl-0">
              <label>Type</label>
              <select formControlName="ftype" class="custom-select">
                <option selected disabled value="">--Select Type Of Transaction--</option>
                <option>Credit</option>
                <option>Debit</option>
              </select>
            </div>
            <div class="form-group col-sm-2 px-2">
              <label>Narration</label>
              <input type="text" formControlName="fnarration" class="form-control" placeholder="Enter Scope / Reference">
            </div>
            <div class="w-100"></div>
            <div class="form-group col-sm-1 px-2 pl-0">
              <label class="ml-2 mt-2">
                <strong>2.</strong>
              </label>
              <br>
            </div>
            <div class="form-group col-sm-3 px-2 pl-0">
              <select formControlName="saccounttype" class="custom-select" [ngClass]="{ 'is-invalid': submitted && f.saccounttype.errors }" >
                <option selected disabled value="">--Select Mode Of Transaction--</option>
                <option>Accounts</option>
                <option>Cash</option>
                <option>Bank</option>
              </select>
              <div *ngIf="submitted && f.saccounttype.errors" class="invalid-feedback">
                <div *ngIf="f.saccounttype.errors.required">Mode Of Transaction Required.</div>
              </div>
            </div>
            <div class="form-group col-sm-2 px-2 pl-0">
              <input type="text" formControlName="scontactName" (selectItem)="selectedPayment($event)" [ngbTypeahead]="searchPayment"
                class="form-control" placeholder="Enter Account Name" [ngClass]="{ 'is-invalid': submitted && f.scontactName.errors }">
                <div *ngIf="submitted && f.scontactName.errors" class="invalid-feedback">
                  <div *ngIf="f.scontactName.errors.required">Name Required.</div>
                </div>
              <!-- <input type="hidden" formControlName="scontactId" class="form-control"> -->
              <input type="hidden" formControlName="sbankId" class="form-control">
            </div>
            <div class="form-group col-sm-2 px-2">
              <input type="number" formControlName="samount" class="form-control" placeholder="Enter Amount">
            </div>
            <div class="form-group col-sm-2 px-2 pl-0">
              <input type="text" formControlName="stype" class="form-control" readonly>
              <!-- <select  disabled>
                <option selected disabled value="">--Select Type Of Transaction--</option>
                <option>Credit</option>
                <option>Debit</option>
              </select> -->
            </div>
            <div class="form-group col-sm-2 px-2">
              <input type="text" class="form-control" formControlName="snarration" placeholder="Enter Scope / Reference">
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover dataTables-example dataTable" id="DataTables_Table_0"
                aria-describedby="DataTables_Table_0_info" role="grid">
                <thead>
                  <tr role="row">
                    <th tabindex="0" rowspan="1" colspan="1">S.No</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 261px;">Invoice No.</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 261px;">Invoice Date</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 342px;">Adjustment Amount</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 248px;">Amount</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 208px;">Balance</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 208px;">Paid Amount</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 208px;">Total Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let slave of journalslave; index as i" class="gradeA odd" role="row">
                    <td class="sorting_1 text-center">
                      <input (change)="toggeleItem($event,slave,i)" class="m-table-checkbox form-check-input frm-checkbox"
                        type="checkbox">
                    </td>
                    <td>{{slave.voucherno}}</td>
                    <td>{{slave.voucherdate | date:'dd-MM-yyyy'}}</td>
                    <td>
                      <input type="number" [(ngModel)]="slave.adjustmentAmt" name="adjustmentAmt" [ngModelOptions]="{standalone: true}"
                        (keyup)="changeBalance($event,slave)" placeholder="Enter Adjustment Amounts" class="form-control">
                    </td>
                    <td>{{slave.remainingAmt | number:'1.0-2'}}</td>
                    <td>{{slave.balance | number:'1.0-2'}}</td>
                    <td>{{slave.paidAmt | number:'1.0-2'}}</td>
                    <td>{{slave.amount | number:'1.0-2'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-sm-12 text-right">
              <button type="submit" class="gx-btn btn-success gx-btn-sm">SAVE</button>
              <a (click)="authorize()" class="gx-btn gx-btn-cyan gx-btn-sm text-white">AUTHORIZE</a>
              <a  (click)="unauthorize()" class="gx-btn gx-btn-cyan gx-btn-sm text-white">UN-AUTHORIZE</a>
              <a routerLink="/journal/voucher" class="gx-btn btn-danger gx-btn-sm">CLOSE</a>
              <!-- <a (click)="reset()" class="gx-btn gx-btn-red gx-btn-sm">Reset</a> -->
              <!-- <a href="javascript:void(0)" class="gx-btn btn-success gx-btn-sm">NEW VOUCHER</a> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>