<div class="modal-header">
  <h4 class="modal-title">Add New Account type </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="zmdi zmdi-close"></i>
  </button>
</div>
<div class="modal-body">
  <form class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-gutters mb-3" [formGroup]="addTypeForm" (ngSubmit)="addType()" novalidate>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
      <div class="col-sm-6 px-2 pt-2">
        <label>Account Name</label>
        <input type="text" placeholder="Enter Account Code" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && fc.name.errors }">
        <div *ngIf="submitted && fc.name.errors" class="invalid-feedback">
          <div *ngIf="fc.name.errors.required">Enter Name.</div>
        </div>
      </div>
      <div class="col-sm-6 px-2 pt-2 float-left">
        <label>Account Code</label>
        <input type="text" placeholder="Enter Account Code" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': submitted && fc.code.errors }">
        <div *ngIf="submitted && fc.code.errors" class="invalid-feedback">
          <div *ngIf="fc.code.errors.required">Enter Code.</div>
        </div>
      </div>
    </div>
    <button class="gx-btn btn-success gx-btn-sm mt-new mb-0 btn-top" type="submit">Submit</button>
  </form>
</div>
<div class="modal-footer">
</div>




