<!-- Page container -->
<div class="gx-container">
  <!-- Page Sidebar -->
  <div id="menu" class="side-nav gx-sidebar" app-admin-sidebar></div>
  <!-- /page sidebar -->
  <!-- Main Container -->
  <div class="gx-main-container">
    <!-- Main Header -->
    <header class="main-header" app-header></header>
    <!-- /main header -->
    <!-- Main Content -->
    <div class="gx-main-content">
      <!--gx-wrapper-->
      <router-outlet></router-outlet>
      <!--/gx-wrapper-->
      <!-- Footer -->
      <app-footer></app-footer>
      <!-- /footer -->
    </div>
    <!-- /main content -->
  </div>
  <!-- /main container -->
</div>
<!-- /page container -->