<!DOCTYPE html>
<html>

<head>
  <title>Express Computers LLC</title>
</head>
<style>
  body {
    font-family: arial;
    overflow: scroll;
  }
  @page {
        size: A4;
        margin: 0;
    }
  .page {
        width: 210mm;
        min-height: 297mm;
        padding: 20mm;
        margin: 10mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .subpage {
        padding: 1cm;
        border: 5px #000 solid;
        height: 257mm;
        outline: 2cm #FFEAEA solid;
    }
  .main .banner {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    border: 1px solid #000;
  }

  img {
    width: 100%;
  }

  table {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-top: 0;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  .head1 {
    font-size: 30px;
  }

  th,
  td {
    border: 1px solid #000;
    padding: 5px 0 5px 5px;
  }

  .second-1 {
    margin-top: 20px;
    min-height: auto;
  }

  .second-1 th {
    padding: 10px 0 10px 0;
  }

  .second-1 td {
    text-align: center;
    height: 35px;
  }

  .second-1 tfoot {
    top: 10px;
  }

  .third-1 th {
    padding-left: 10px;
  }

  .third-1 {
    border: none;
  }
</style>

<body>
  <div class="main">
    <div class="banner">
      <img src="../../../assets/images/printheader.jpg" title="" class="">
    </div>

    <table cellspacing="0" class="first-1">
      <thead>
        <th colspan="6" style="text-align: center">QUOTATION</th>
      </thead>
      <tr style="padding-left: 10px; font-weight: bold;">
        <td colspan="1" style="border: none; width: 25%;">To. M/S</td>
        <td colspan="1" style="border-left: 0; border-top: 0; border-bottom: 0; border-right: 1px solid #000; width: 25%;">: {{contacts.displayName}}</td>
        <td style="border: none; width: 25%;">QTN No</td>
        <td style="border-left:0;border-bottom: 0px; border-top:0px;border-right: 1px solid #000; width: 25%;">: {{printDto.quoteno}}</td>
      </tr>
      <tr style="padding-left: 10px; font-weight: bold;">
        <td style="border: none;">TRN</td>
        <td style="border-left: 0; border-top: 0; border-bottom: 0; border-right: 1px solid #000;">: {{contacts.trnno}}</td>
        <td style="border: none;">Date</td>
        <td style="border-left:0;border-bottom: 0px; border-top:0px;border-right: 1px solid #000;">: {{printDto.quoteDate | date:'dd-MM-yyyy'}}</td>
      </tr>
      <tr style="padding-left: 10px; font-weight: bold;">
        <td style="border: none;">Tel</td>
        <td style="border-left: 0; border-top: 0; border-bottom: 0; border-right: 1px solid #000;">: {{contacts.phone}}</td>
        <td style="border: none;">SalesMan</td>
        <td style="border-left:0;border-bottom: 0px; border-top:0px;border-right: 1px solid #000;">: {{user.name}}</td>
      </tr>
      <tr style="padding-left: 10px; font-weight: bold;">
        <td style="border: none;">Attn</td>
        <td style="border-left: 0; border-top: 0; border-bottom: 0; border-right: 1px solid #000;">: </td>
        <td style="border: none;">Scope </td>
        <td style="border-left:0;border-bottom: 0px; border-top:0px;border-right: 1px solid #000;">: </td>
      </tr>
      <tr style="padding-left: 10px; font-weight: bold; border: none;">
        <td style="border: none;">Fax </td>
        <td style="border-left: 0; border-top: 0; border-bottom: 0; border-right: 1px solid #000;">: </td>
        <td style="border: none;">Mobile No </td>
        <td style="border-left:0;border-bottom: 0px; border-top:0px;border-right: 1px solid #000;">:  {{user.mobile}}</td>
      </tr>
      <tr style="padding-left: 10px; font-weight: bold;">
        <td style="border: none;"></td>
        <td style="border-left: 0; border-top: 0; border-bottom: 0; border-right: 1px solid #000;"> </td>
        <td style="border: none;">Email</td>
        <td style="border-left:0;border-bottom: 0px; border-top:0px;border-right: 1px solid #000;">: {{contacts.email}} </td>
      </tr>
        <tr style="padding-left: 10px; font-weight: bold;">
        <td style="border: none;"></td>
        <td style="border-left: 0; border-top: 0; border-bottom: 0; border-right: 1px solid #000;"> </td>
        <td style="border: none;">Page No.</td>
        <td style="border-left:0;border-bottom: 0px; border-top:0px;border-right: 1px solid #000;">: </td>
      </tr>
        <tr>
        <td colspan="6" style="border-left: none;"><p>Thank for your enquiry and we are pleased to quote our best prices as follows</p></td>
        </tr>
    </table>
    <table cellspacing="0" class="second-1">
      <thead>
        <th style="width: 8%; text-align: center">S.No</th>
        <th style="width: 8%; text-align: center">Part No</th>
        <th colspan="4" style="text-align: center">Description</th>
        <th style="width: 8%; text-align: center">Unit</th>
        <th style="width: 8%; text-align: center">Qty</th>
        <th style="width: 8%; text-align: center">Unit Price</th>
        <th style="width: 10%; text-align: center">Amount</th>
      </thead>
      <tbody class="page">
        <tr *ngFor="let slave of printDto.sqtItem; index as i">
          <td colspan="1"  style="text-align: center">{{i + 1}}</td>
          <td style="width: 8%; text-align: center">{{slave.item.sku}}</td>
          <td colspan="4"  style="text-align: center">{{slave.item.name}}</td>
          <td style="width: 8%; text-align: center" >{{slave.item.uom}}</td>
          <td style="width: 8%; text-align: center">{{slave.qty}}</td>
          <td style="width: 8%; text-align: center">{{slave.unitPrice}}</td>
          <td style="width: 10%; text-align: center">{{slave.amount}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" style=" font-weight: bold">Amount in words</td>
          <td colspan="5" style=" font-weight: bold">{{amount}} </td>
          <td colspan="2" style="text-align: left; font-weight: bold">
            Sub Total
          </td>
          <td colspan="2" style=" font-weight: bold">{{printDto.grossAmt}}</td>
        </tr>
        <tr>
            <td colspan="2" style="border: none"></td>
            <td colspan="5" style="border: none"></td>
          <td colspan="2" style="text-align: left; font-weight: bold">Discount</td>
          <td colspan="2" style=" font-weight: bold">{{printDto.discount}}</td>
        </tr>
        <tr>
            <td colspan="2" style="border: none"></td>
            <td colspan="5" style="border: none"></td>
          <td colspan="2" style="text-align: left; font-weight: bold">Vat@ 5%</td>
          <td colspan="2" style=" font-weight: bold">{{printDto.vat}}</td>
        </tr>
        <tr>
            <td colspan="2" style="border: none"></td>
            <td colspan="5" style="border: none"></td>
          <td colspan="2" style="text-align: left; font-weight: bold"> Grand Totoal</td>
          <td colspan="2" style=" font-weight: bold">{{printDto.netAmt}}</td>
        </tr>
      </tfoot>
    </table>
    <table cellspacing="0" class="third-1">
      <tfoot style="text-align: left;">
        <tr>
          <th colspan="6" style="text-align: center;">
           {{trnNo}}
          </th>
        </tr>
        <tr>
          <th colspan="4" style="border-top:0px solid #000; border-right: 0px solid #000; border-bottom: 0px;">Terms and Conditions</th>
          <th colspan="2" style="text-align: right; border-top:0px solid #000; border-left: 0px; border-bottom: 0; border-right: 1px solid #000; ">Prepared By
            <br> For Express Computers LLC</th>
        </tr>
        <tr>
          <th colspan="4" style="border-top:0px solid #000; border-right: 0px solid #000; border-bottom: 0px;">Payment Terms: COD</th>
          <th colspan="2" style="border-top:0px solid #000; border-left: 0px; border-bottom: 0; border-right: 1px solid #000; padding-top: 15px; padding-bottom: 15px;">
            
            </th>
        </tr>
        <tr>
          <th colspan="4" style="border-top:0px solid #000; border-right: 0px solid #000; border-bottom: 0px;">Delivery Terms: 2 Days</th>
          <th colspan="2" style="border-top:0px solid #000; border-left: 0px; border-bottom: 0; border-right: 1px solid #000; padding-top: 15px; padding-bottom: 15px;"></th>
        </tr>
        <tr>
          <th colspan="4" style="border-top:0px solid #000; border-right: 0px solid #000; border-bottom: 0;">
            </th>
          <th colspan="2" style="border-top:0px solid #000; border-left: 0px; border-bottom: 0; border-right: 1px solid #000; padding-top: 15px; padding-bottom: 15px;"></th>
        </tr>
        <tr>
          <th style="border-top:0px solid #000; border-right: 0px solid #000; padding-top: 15px; padding-bottom: 15px;" colspan="4">
            
          </th>
          <th colspan="2" style="border-top:0px solid #000; border-left: 0px; border-right: 1px solid #000; padding-top: 15px; padding-bottom: 15px;"></th>
        </tr>
      </tfoot>
    </table>
  </div>
</body>

</html>