<div class="gx-main-content">
    <div class="gx-wrapper mar-0">
        <div class="dashboard animated slideInUpTiny animation-duration-3">
            <div class="page-heading d-sm-flex justify-content-sm-between align-items-sm-center"><h2
                    class="title mb-3 mb-sm-0">Items</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="gx-card">
                <div class="gx-card-body">
                    <form class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-gutters">
                        <div class="form-group col-sm-4 px-2">
                            <label for="voucherNo">Search by Product Code</label>
                            <input type="text" class="form-control"  placeholder="Enter Product Code">
                        </div>
                        <div class="form-group col-sm-4 px-2">
                            <label for="cutomer">Search by Product Name</label>
                            <input type="text" class="form-control"  placeholder="Enter Product Name">
                        </div>
                        <div class="form-group col-sm-4 text-right">
                            <a routerLink="/inventory/new/ledger" class="gx-btn btn-success gx-btn-sm mt-new mb-0">New</a>
                            <a routerLink="/inventory/edit/ledger" class="gx-btn btn-danger gx-btn-sm mt-new mb-0 btn-top">Edit</a>
                        </div>
                        
                    </form>
                    <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" role="grid">
                                <thead>
                                <tr role="row">
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 52px; text-align: center;">#</th>
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 161px;">Product Code</th>
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 261px;">Product Name</th>
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 342px;">Product Description</th>
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 248px;">Stock in Hand</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeA odd" role="row">
                                    <td class="sorting_1 text-center"><input class="m-table-checkbox form-check-input frm-checkbox" type="checkbox"></td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                </tr>
                                <tr class="gradeA odd" role="row">
                                        <td class="sorting_1 text-center"><input class="m-table-checkbox form-check-input frm-checkbox" type="checkbox"></td>
                                        <td> &nbsp;</td>
                                        <td> &nbsp;</td>
                                        <td> &nbsp;</td>
                                        <td> &nbsp;</td>
                                    </tr>
              <tr class="gradeA odd" role="row">
                                        <td class="sorting_1 text-center"><input class="m-table-checkbox form-check-input frm-checkbox" type="checkbox"></td>
                                        <td> &nbsp;</td>
                                        <td> &nbsp;</td>
                                        <td> &nbsp;</td>
                                        <td> &nbsp;</td>
                                    </tr>
              <tr class="gradeA odd" role="row">
                                        <td class="sorting_1 text-center"><input class="m-table-checkbox form-check-input frm-checkbox" type="checkbox"></td>
                                        <td> &nbsp;</td>
                                        <td> &nbsp;</td>
                                        <td> &nbsp;</td>
                                        <td> &nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
            </div>
            </div>
        </div>
    </div>
</div>