<!DOCTYPE html>
<html>

<head>
  <title>Express Computers LLC</title>
</head>
<style>
  body {
    font-family: arial;
    overflow: scroll;
  }

  .main .banner {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    border: 1px solid #000;
  }

  img {
    width: 100%;
  }

  table {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-top: 0;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  .head1 {
    font-size: 30px;
  }

  th,
  td {
    border: 1px solid #000;
    padding: 5px 0 5px 5px;
  }

  .second-1 {
    margin-top: 20px;
    min-height: auto;
  }

  .second-1 th {
    padding: 10px 0 10px 0;
  }

  .second-1 td {
    text-align: center;
    height: 35px;
  }

  .second-1 tfoot {
    top: 10px;
  }

  .third-1 th {
    padding-left: 10px;
  }

  .third-1 {
    border: none;
  }
</style>

<body>
  <div class="main">
    <div class="banner">
      <img src="header.jpg" title="" class="">
    </div>

    <table cellspacing="0" class="first-1">
      <thead>
        <th colspan="6" style="text-align: center">DELIVERY ORDER</th>
      </thead>
      <tr style="padding-left: 10px; font-weight: bold;">
        <td colspan="1" style="border: none; width: 25%;">Account Code</td>
        <td colspan="1" style="border: none; width: 25%;">: C1020</td>
        <td style="border-left: 1px solid #000; border-top: 0px; border-bottom: 0;border-right: 0px; width: 25%;">DO No</td>
        <td style="border-left:0;border-bottom: 0px; border-top:0px;border-right: 1px solid #000; width: 25%;">: </td>
      </tr>
      <tr style="padding-left: 10px; font-weight: bold;">
        <td style="border: none;">Customer Name</td>
        <td style="border: none;">: </td>
        <td style="border-left: 1px solid #000; border-top: 0px; border-bottom: 0;border-right: 0px; ">Date</td>
        <td style="border-left:0;border-bottom: 0px; border-top:0px;border-right: 1px solid #000;">: </td>
      </tr>
      <tr style="padding-left: 10px; font-weight: bold;">
        <td style="border: none;"></td>
        <td style="border: none;"> </td>
        <td style="border-left: 1px solid #000; border-top: 0px; border-bottom: 0;border-right: 0px; ">SO Ref</td>
        <td style="border-left:0;border-bottom: 0px; border-top:0px;border-right: 1px solid #000;">: </td>
      </tr>
      <tr style="padding-left: 10px; font-weight: bold;">
        <td style="border: none;">Phone</td>
        <td style="border: none;">: +971 4 3408570</td>
        <td style="border-left: 1px solid #000; border-top: 0px; border-bottom: 0;border-right: 0px; ">SalesMan </td>
        <td style="border-left:0;border-bottom: 0px; border-top:0px;border-right: 1px solid #000;">: </td>
      </tr>
      <tr style="padding-left: 10px; font-weight: bold; border: none;">
        <td style="border: none;">Fax</td>
        <td style="border: none;">: +971 4 3408570</td>
        <td style="border-left: 1px solid #000; border-top: 0px; border-bottom: 0;border-right: 0px; ">Mobile No </td>
        <td style="border-left:0;border-bottom: 0px; border-top:0px;border-right: 1px solid #000;">: </td>
      </tr>
      <tr style="padding-left: 10px; font-weight: bold;">
        <td style="border: none;">Email: </td>
        <td style="border: none;">: </td>
        <td style="border-left: 1px solid #000; border-top: 0px; border-bottom: 0;border-right: 0px; ">Vat TRN</td>
        <td style="border-left:0;border-bottom: 0px; border-top:0px;border-right: 1px solid #000;">: 100065488700003</td>
      </tr>
    </table>
    <table cellspacing="0">
      <thead>
        <th style="padding-top: 10px; padding-bottom: 10px;">Payment Terms</th>
        <th style="padding-top: 10px; padding-bottom: 10px;">Warranty</th>
        <th colspan="2" style="padding-top: 15px; padding-bottom: 15px;">Customer PONo</th>
      </thead>
      <tbody>
        <tr style="text-align: center">
          <td style="padding-top: 10px; padding-bottom: 10px;"></td>
          <td style="padding-top: 10px; padding-bottom: 10px;"></td>
          <td colspan="2" style="padding-top: 15px; padding-bottom: 15px;"></td>
        </tr>
      </tbody>
    </table>
    <table cellspacing="0" class="second-1">
      <thead>
        <th style="width: 8%; text-align: center">S.No</th>
        <th style="width: 8%; text-align: center">Part No</th>
        <th colspan="4" style="text-align: center">Description</th>
        <th style="width: 8%; text-align: center">Units</th>
        <th style="width: 8%; text-align: center">Qty</th>
        <th style="width: 8%; text-align: center">Total Qty</th>
      </thead>
      <tbody>
        <tr>
          <td colspan="1"  style="text-align: center"></td>
          <td style="width: 8%; text-align: center"></td>
          <td colspan="4"  style="text-align: center"></td>
          <td style="width: 8%; text-align: center" ></td>
          <td style="width: 8%; text-align: center"></td>
          <td style="width: 8%; text-align: center"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="1" style=" font-weight: bold">Total Qty.</td>
          <td colspan="5" style=" font-weight: bold">0.00 Only</td>
          <td colspan="1" style="text-align: left; font-weight: bold"></td>
          <td colspan="1" style="text-align: left; font-weight: bold"></td>
          <td colspan="1" style="text-align: left; font-weight: bold"></td>
        </tr>
      </tfoot>
    </table>
    <table cellspacing="0" class="third-1">
      <tfoot style="text-align: left;">
        <tr>
          <th colspan="4" style="border-top:0px solid #000; border-right: 0px solid #000; border-bottom: 0px;">Terms and Conditions</th>
          <th colspan="2" style="border-top:0px solid #000; border-left: 0px; border-bottom: 0; border-right: 1px solid #000; padding-top: 15px; padding-bottom: 15px;"></th>
        </tr>
        <tr>
          <th colspan="4" style="border-top:0px solid #000; border-right: 0px solid #000; border-bottom: 0px;">1. Received the above items in good condition.</th>
          <th colspan="2" style="border-top:0px solid #000; border-left: 0px; border-bottom: 0; border-right: 1px solid #000; padding-top: 15px; padding-bottom: 15px;"></th>
        </tr>
        <tr>
          <th style="border-top:0px solid #000; border-right: 0px solid #000; padding-top: 15px; padding-bottom: 15px;" colspan="4">
            Receivers Sign & Seal
          </th>
          <th colspan="2" style="border-top:0px solid #000; border-left: 0px; border-right: 1px solid #000; padding-top: 15px; padding-bottom: 15px;">
            Prepared By
            <br> For Express Computers LLC
            </th>
        </tr>
      </tfoot>
    </table>
  </div>
</body>

</html>